<div class="container-fluid">
  <div class="title">
    Vivero el otoño
  </div>
  <div class="image">
    <img
    src="./../../../assets/image 1.png"
    >
  </div>

  <div class="col-8">
    <table class="table">
      <thead>
        <tr class="table-dark">
          <th class="table-th" scope="col">#</th>
          <th class="table-th" scope="col">Nombre común</th>
          <th class="table-th" scope="col">Tipo</th>
          <th class="table-th" scope="col">Clima</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of plants" class="table-tr">
          <th scope="row">
           {{ c.id }}
          </th>
          <td>
            <tr >{{ c.nombre_comun }}</tr>
          </td>
          <td>
            <tr >{{ c.tipo }}</tr>
          </td>
          <td>
            <tr >{{ c.clima }}</tr>
          </td>
        </tr>
      </tbody>
    </table>
    <p class="counter">
      Total plantas de interior: <span>{{ totalInteriorPlants }}</span>

    </p>
    <p class="counter">
      Total plantas de exterior: <span>{{ totalExteriorPlants }}</span>
    </p>
  </div>
</div>
